$primary-font-color: #6B6B6B;
$accent-color: #00DDDD;

body, html, #main, #main-child {
  font-family: sans-serif;
  height: 100%;
  padding: 0;
  margin: 0;
}
nav {
  background-color: black;
}
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 16%;
  height: 58px;
}
.nav-item {
  color: white;
  display: inline;
  font-size: 1.1em;
  letter-spacing: 0.8px;
  margin-left: 4px;
  opacity: 0.8;
  padding: 16px 4px;
  text-decoration: none;
}
.nav-item:hover {
  border-bottom: 3px solid $accent-color;
  cursor: pointer;
  opacity: 1;
}
#landing {
  background-color: rgb(252, 229, 229);
  background-image: url("./../src/assets/landing-image.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  filter: brightness(90%);
  flex-direction: column;
  font-family: 'Raleway', sans-serif;
  height: 100vh;
  margin: 0;
  text-align: center;
}
#landing-title {
  color: white;
  font-family: sans-serif;
  font-size: 4.8em;
  font-weight: 500;
  letter-spacing: 1px;
  margin: 20% 0 0 0;
  text-shadow: 2px 2px 2px black;
}
#landing-title-app-name {
  color: white;
  font-size: 6em;
  font-weight: 800;
  letter-spacing: -4px;
  margin: -20px 0 0 0;
  text-shadow: 2px 2px 2px black;
  text-transform: uppercase;
}
#landing-subtitle {
  color: white;
  font-size: 2em;
  letter-spacing: 1px;
  margin-top: 0;
  text-shadow: 2px 2px 2px black;
}
@media screen and (max-width: 700px) {
  .navbar {
    margin: 0;
    padding: 0;
    height: 54px;
  }
  .nav-item {
    font-size: 0.9em;
    margin-left: 0;
  }
  #landing {
    height: 100vh;
  }
  #landing-title {
    font-size: 2.2em;
    margin-bottom: 10px;
  }
  #landing-title-app-name {
    font-size: 2.8em;
    margin-bottom: -4px;
  }
  #landing-subtitle {
    font-size: 1em;
  }
}
.events-section {
  margin: 0 auto;
  width: 80%;
}
.events-header {
  font-family: 'Raleway', sans-serif;
  font-size: 32px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 0;
  color: $primary-font-color;
}
.events-subheader {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1px;
  margin: 4px 0 0 1px;
  color: $primary-font-color;
}
.events-button-container {
  float: right;
  margin-top: -25px;
}
.events-toggle {
  border: 1px solid $primary-font-color;
  opacity: 0.8;
  outline: none;
  padding: 4px 8px;
}
.events-toggle:hover {
  cursor: pointer;
  opacity: 1;
}
.allEvents {
  margin: 20px 0 30px 0;
  height: 100%;
}
.view-details {
  text-decoration: none;
}
.event-container {
  background-color: $accent-color;
  position: relative;
}
.event {
  padding: 2% 3%;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 1px 1px 2px $primary-font-color;
  border: none;
  border-radius: 0;
  margin: 20px 0;
  opacity: 0.6;
  height: 170px;
}
.event:hover {
  opacity: 1;
}
.event-title {
  font-size: 32px;
  font-weight: 800;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 70px;
  text-transform: capitalize;
  text-shadow: 1px 1px 1px black;
  position: absolute;
  top: 20px;
  left: 20px;
}
.event-rating {
  position: absolute;
  bottom: 20px;
  left: 20px;
}
// #events-mapview {
//   width: 80%;
// }
#event-banner {
  width: 100%;
  height: 100px;
}
#info-button {
  border: 1px solid black;
  margin-right: 95%;
  padding: 1%;
}
.event-image {
  width: 50%;
}
#event-title {
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 38px;
  letter-spacing: 0.06em;
  color: #6B6B6B;
  margin-top: 1%;
  margin-bottom: 1%;
}
#event-description {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.04em;
  color: #6B6B6B;
  margin-top: 1%;
  margin-bottom: 1%;
}
.event-page {
  padding: 2%;
}
.more {
  color: black;
}
.info-window {
  width: 50px;
  height: 50px;
}
.event-title-info {
  top: 5px;
  font-size: 24px;
  font-weight: 800;
  margin-top: 1%;
  margin-bottom: 1%;
}
#map-wrapper, #map-3rd-wrapper{
  height: 100%;
}
#directions{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
}

#directionsPanel{
  width: 30%;

}
