$primary-font-color: #6B6B6B;
$accent-color: #0099CC;

body, html, #main, #main-child {
  font-family: sans-serif;
  height: 100%;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;

}
/* NAVIGATION BAR */
nav {
  background-color: black;
}
.navbar {
  align-items: center;
  display: flex;
  height: 58px;
  justify-content: space-around;
  list-style: none;
  margin: 0 16%;
  padding-bottom: 7px;
}
.nav-link {
  color: white;
  display: inline;
  font-size: 1.1em;
  letter-spacing: 0.8px;
  opacity: 0.8;
  text-decoration: none;
}
.nav-link:hover,
.nav-link:focus,
.nav-link:active {
  opacity: 1;
}
.emoji {
  margin-right: 6px;
}
.nav-item {
  padding: 24px 0 16px;
}
.nav-item:hover {
  border-bottom: 3px solid $accent-color;
  cursor: pointer;
}
/* LANDING PAGE */
#landing {
  background-color: rgb(252, 229, 229);
  background-image: url("./../src/assets/landing-image.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  filter: brightness(90%);
  flex-direction: column;
  font-family: 'Raleway', sans-serif;
  height: 100vh;
  margin: 0;
  text-align: center;
}
#landing-title {
  color: white;
  font-family: sans-serif;
  font-size: 4.8em;
  font-weight: 500;
  letter-spacing: 1px;
  margin: 20% 0 0 0;
  text-shadow: 2px 2px 2px black;
}
#landing-title-app-name {
  color: white;
  font-size: 6em;
  font-weight: 800;
  letter-spacing: -4px;
  margin: -20px 0 0 0;
  text-shadow: 2px 2px 2px black;
  text-transform: uppercase;
}
#landing-subtitle {
  color: white;
  font-size: 2em;
  letter-spacing: 1px;
  margin-top: 0;
  text-shadow: 2px 2px 2px black;
  margin-bottom: 2%;
}
@media screen and (max-width: 700px) {
  .navbar {
    margin: 0;
    padding: 0;
    height: 54px;
  }
  .nav-item {
    font-size: 0.9em;
    margin-left: 0;
  }
  #landing {
    height: 100vh;
  }
  #landing-title {
    font-size: 2.2em;
    margin-bottom: 10px;
  }
  #landing-title-app-name {
    font-size: 2.8em;
    margin-bottom: -4px;
  }
  #landing-subtitle {
    font-size: 1em;
  }
}
/* LANDING PAGE - 
  EVENTS SECTION */
.events-section {
  margin: 0 auto;
  width: 80%;
}
.events-header {
  font-family: 'Raleway', sans-serif;
  font-size: 32px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 0;
  color: $primary-font-color;
}
.events-subheader {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1px;
  margin: 4px 0 0 1px;
  color: $primary-font-color;
}
.events-button-container {
  float: right;
  margin-top: -25px;
}
.events-toggle {
  border: 1px solid $primary-font-color;
  opacity: 0.8;
  outline: none;
  padding: 4px 8px;
}
.events-toggle:hover {
  cursor: pointer;
  opacity: 1;
}
/* LANDING PAGE - 
  EVENTS SECTION -
   (LIST VIEW) */
.events-container {
  display: grid;
  grid-template-columns: 23.4% 23.4% 23.4% 23.4%;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  margin: 20px 0 60px 0;
}
.allEvents {
  margin: 20px 0 30px 0;
  height: 100%;
}
.view-details {
  text-decoration: none;
}
.event-container {
  font-family: 'Raleway', sans-serif;
  position: relative;
}
.event {
  padding: 2% 3%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 4px;
  border: none;
  margin: 0;
  height: 250px;
}
.event-title {
  font-family: sans-serif;
  font-size: 12px;
  font-weight: 500;
  color: gray;
  font-weight: 600;
  letter-spacing: 0.2px;
  margin: 12px 0 0 0;
  text-transform: uppercase;
}
.event-description {
  color: $primary-font-color;
  font-size: 16px;
  font-weight: 600;
  margin: 6px 0 0 0;
}
.event-address {
  color: gray;
  font-size: 13px;
  font-weight: 400;
  margin: 6px 0 0 0;
}
.event-rating {
  margin: 6px 0;
}
/* LANDING PAGE - 
  EVENTS SECTION -
    (MAP VIEW) */
.map-container {
  width: 79vw !important;
  height: 79vh !important;
  margin-bottom: 50px;
}
.event-title-info {
  color: $primary-font-color;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 600;
  margin-top: 1%;
  margin-bottom: 1%;
  text-transform: capitalize;
}
.info-window {
  width: 50px;
  height: 50px;
}
.info-window-view-detail {
  color: $primary-font-color;
}
.info-window-view-detail:hover {
  color: $accent-color;
}
/* EVENT PAGE */
#event-page-background {
  background-color: rgb(235, 235, 235);
  height: 120vh;
  padding-top: 70px;
}
#event-page {
  background-color: white;
  box-shadow: 1px 1px 2px gray;
  display: flex;
  height: auto;
  margin: 0 auto;
  width: 80%;
}
#event-details-left {
  width: 40vw;
}
#event-details-right {
  margin: 20px 40px;
}
#event-details {
  font-family: "Raleway", sans-serif;
  letter-spacing: 0.6px;
}
#event-title {
  border-left: 4px solid $accent-color;
  font-size: 24px;
  font-weight: 800;
  margin: 0 0 0 -40px;
  padding-left: 36px;
}
#event-location {
  color: $primary-font-color;
  font-size: 16px;
  margin-top: 2px;
  margin-bottom: 0;
}
#event-details-group-2 {
  display: flex;
  align-items: center;
  margin: 40px auto;
}
#event-details-group-2-left {
  border-right: 1px dotted gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 34px 0 0;
  text-align: center;
}
#event-creator-link {
  text-decoration: none;
}
#event-creator-photo {
  border-radius: 100px;
  height: 100px;
  width: 100px;
}
#event-creator {
  color: $primary-font-color;
  font-size: 9px;
  margin: 10px 0 0 0;
  text-transform: uppercase;
}
#event-creator-name {
  color: $primary-font-color;
  font-size: 14px;
  font-weight: 600;
  margin-top: 2px;
  margin-bottom: 0;
  width: 100px;
}
#event-details-group-2-right {
  color: $primary-font-color;
  margin-left: 34px;
}
#event-description {
  font-size: 18px;
  font-weight: 600;
  margin: 0;
}
#event-average-rating { 
  margin: 10px 0 0 0;
}
#event-average-rating-label {
  font-size: 12px;
  margin-top: 2px;
  margin-bottom: 0;
}
#update-event-button,
#delete-event-button,
#stripe-checkout-button {
  background-color: none;
  border: 1px solid lightgray;
  color: $primary-font-color;
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
  font-weight: 400;
  margin: 10px;
  opacity: 0.8;
  outline: none;
  padding: 0 10px;
  text-transform: capitalize;
}
#update-event-button:hover,
#delete-event-button:hover,
#stripe-checkout-button:hover {
  cursor: pointer;
  color: $accent-color;
  border: 1px solid $accent-color;
}
/* CREATE & UPDATE EVENT */
#new-event-background,
#update-event-background {
  background-image: url("./../src/assets/mountain-background.jpg");
  background-size: cover;
  height: 100vh;
  padding-top: 50px;
}
#new-event-form,
#update-event-form {
  background-color: rgba(26,34,76,0.8);
  border-radius: 3px;
  color: white;
  font-family: "Raleway", sans-serif;
  height: fit-content;
  margin: 0 auto;
  padding: 3% 6%;
  width: 50%;
}
#new-event-form-header,
#update-event-form-header {
  border-bottom: 1px solid white;
  font-weight: 400;
  letter-spacing: 0.8px;
  margin-bottom: 40px;
  padding-bottom: 6px;
  text-transform: uppercase;
}
.input-label {
  font-size: 12px;
  letter-spacing: 0.8px;
  margin-left: 8px;
  text-transform: uppercase;
}
#new-event-location-label,
#update-event-location-label {
  margin-top: -10px;
}
input,
textarea {
  border: none;
  border-radius: 3px;
  background-color: rgba(158, 163, 190, 0.6);
  color: white;
  display: block;
  font-size: 16px;
  margin: 12px 0 20px 0;
  outline: none;
  padding: 10px;
  width: 47vw;
}
::-webkit-input-placeholder { /* Chrome */
  color: white;
  opacity: 0.5;
}
:-ms-input-placeholder { /* IE 10+ */
  color: white;
  opacity: 0.5;
}
::-moz-placeholder { /* Firefox 19+ */
  color: white;
  opacity: 0.5;
}
:-moz-placeholder { /* Firefox 4 - 18 */
  color: white;
  opacity: 0.5;
}
#create-new-event-button-container,
#make-changes-button-container {
  margin-top: 34px;
  text-align: center;
  width: 100%;
  z-index: 0;
}
#make-changes-button-container {
  margin-top: 46px;
}
#create-new-event-button,
#make-changes-button {
  background-color: $accent-color;
  border-radius: 3px;
  border: none;
  font-size: 14px;
  font-weight: 600;
  color: white;
  letter-spacing: 0.8px;
  opacity: 0.8;
  padding: 10px 12px;
  text-transform: uppercase;
  width: 120px;
}
#make-changes-button {
  width: 180px;
}
#create-new-event-button:hover,
#make-changes-button:hover {
  cursor: pointer;
  opacity: 1;
}
/* EVENT PAGE MAP */
#map-header {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: 600;
  padding: 24px 0 0 20px;
}
#floating-panel {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin: -54px 30px 0 0;
}
#map-mode-select-label {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: 600;
  margin-right: 8px;
}
#map-mode-select {
  border: 1px solid gray;
  background-color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  opacity: 0.7;
  width: 200px;
}
#directions {
  width: 80%;
  position: relative;
}
#map-outermost-wrapper {
  background-color: white;
  box-shadow: 1px 1px 2px gray;
  height: 450px;
  z-index: 1;
}
#directionsPanel {
  border-top: 1px dotted gray;
  border-bottom: 1px dotted gray;
  background-color: #F5F5F5;
  height: 350px;
  width: 22.1vw;
  margin-top: -5px;
  overflow: scroll;
  position: relative;
  left: 90.1%;
  z-index: 100;
  overflow-x: hidden;
}
#directionsPanel::-webkit-scrollbar {
  width: 10px;
  background-color: #F5F5F5;
}
#directionsPanel::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}
#directionsPanel::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,.3);
  background-color: rgb(214, 214, 214);
}
#down-arrow {
  width: 80px;
  margin-top: 0%;
}
.login-prompt {
  text-align: center;
  padding-top: 2%;
  padding-bottom: 2%;
  color: white;
}
.login-modal {
  margin-left: 20%;
  margin-right: 20%;
  background: black;
}
#login-close {
  display: inline-block;
  margin-left: 7%;
}
/* PROFILE */
#user-profile-background {
  background-color: rgba(26,34,76,0.8);
  padding-top: 90px;
}
#user-profile-details-container {
  background-color: rgba(26,34,76,0.8);
}
#user-profile-details {
  background-color: rgba(255,255,255,0.8);
  box-shadow: 1px 1px 2px gray;
  width: 80%;
  margin: 0 auto;
  position: relative;
  z-index: 1000;
}
#user-profile-basic-details {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 0.4px;
}
#user-profile-picture {
  border-radius: 120px;
  box-shadow: 1px 1px 2px gray;
  width: 120px;
  height: 120px;
  margin-top: -60px;
}
#user-profile-name {
  font-size: 20px;
  font-weight: 600;
  margin: 10px 0 0 0;
}
#user-profile-email {
  font-size: 12px;
  font-weight: 400;
  margin: 4px 0 0 0;
}
#log-out-button {
  border: 1px solid gray;
  font-size: 12px;
  margin: 10px 0 0 0;
  opacity: 0.7;
}
#log-out-button:hover {
  cursor: pointer;
  opacity: 1;
}
#follow-button {
  border: 1px solid gray;
  font-size: 12px;
  margin: 10px 0 0 0;
  opacity: 0.7;
}
#follow-button:hover {
  cursor: pointer;
  opacity: 1;
}
#unfollow-button {
  border: 1px solid gray;
  font-size: 12px;
  margin: 10px 0 0 0;
  opacity: 0.7;
}
#unfollow-button:hover {
  cursor: pointer;
  opacity: 1;
}
#user-profile-stats {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 26px 0;
  padding-bottom: 20px;
}
.user-profile-stat {
  font-family: 'Raleway', sans-serif;
  margin: 20px;
  text-align: center;
}
.user-profile-stat-label {
  font-size: 16px;
  font-weight: 600;
  margin: 0;
}
.user-profile-stat-value {
  font-size: 16px;
  font-weight: 400;
  margin: 8px 0 0 0;
}
#user-profile-events-hosted-section {
  background-color: white;
  padding: 120px 30px 50px 30px;
  margin: -134px auto 0 auto;
  z-index: -10;
}
#events-hosted-section-inner-div {
  width: 80%;
  margin: 0 auto;
}
#user-profile-events-hosted-label {
  font-size: 24px;
  font-weight: 600;
  margin: 20px  0 20px 10px;
}
#hosted-events-grid {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}
.hosted-event-container {
  margin: 10px;
  padding: 0;
}